html, body {
  background-color: #341fbb;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
}

h1 {
  color: #ff7315;
  font-size: 55px;
  padding-top: 1%;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 3px 3px 4px #674949;

}

#prix {
  font-size: 30px;
  
}

#formulaire {
  padding-top: 1px;
 
  
}

.btn {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5%;
  
}

#instructions {
  color: white;
  font-size: 20px;
  
}

.instruction {
  padding: 7px;
  margin-top: 30px;
}

.plus {
  background-color: #f82338;
}

.moins {
  background-color: #8f431a;
}

.fini {
  background-color : #0c9463;
}

small {
  color: aliceblue;
  font-style: italic;
  font-size: 20px;
  
}

@media  only screen and (max-width : 375px) {
  
  h1 {
    font-size: 30px;
    padding-top: 3%;
      
  }
  
  #prix {
    font-size: 20px;
    
  }
}

@media  only screen and (max-width : 526px) {
  
  h1 {
    font-size: 40px;
    padding-top: 6%;
      
  }
  
  #prix {
    font-size: 23px;

  }

  .btn, small {
    font-size: 22px;
    margin-bottom: 5%;
    
  }
}

@media  only screen and (max-width : 768px) {
  
  h1 {
    font-size: 55px;
    padding-top: 8%;
      
  }
  
  #prix {
    font-size: 30px;

  }

  .btn, small {
    font-size: 25px;
    
  }

  #instructions {
    font-size: 26px;
    
  }
}

@media  only screen and (max-width : 1280px) {
  
  h1 {
    font-size: 75px;
    padding-top: 8%;
      
  }
  
  #prix {
    font-size: 35px;
    margin-bottom: 3%;

  }

  .btn, small {
    font-size: 28px;
    margin-bottom: 3%;
    
  }

  #instructions {
    font-size: 28px;
    
  }
}

@media  only screen and (min-width : 1280px) {
  
  h1 {
    font-size: 95px;
    padding-top: 3%;
      
  }
  
  #prix {
    font-size: 45px;
    margin-bottom: 2%;

  }

  .btn, small {
    font-size: 32px;
    margin-bottom: 2%;
    
  }

  #instructions {
    font-size: 32px;
    
  }
}